*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(200, 51%, 30%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    line-height: 1.6;
    padding: 50px;
    border-radius: 5px;
    font-size: 17px;
}
header{
    background-color: rgb(46, 61, 52);
}
header h1{
    text-align:center;
    color: rgb(255, 255, 255);
}
header p{
    text-align: center;
    color: #fff;
}
main{
    background-color: #fff;
    margin: 50px auto;
    width: 50vw;
    color: hsl(0, 0%, 0%);
    padding: 20px;
}
h2:hover{
    color: rgb(240, 239, 234);
    background-color: rgb(14, 95, 85);
}

/* R    G        B */
/* ff   ff       ff*/
/*#ffff11 */
/* HSL */ 
/* R      G      B ,    100%,     50%*/
/*R= 0 - 80 */
/*g= 81 - 160 */
/*B= 161 - 240 */


/* ---  [R] o y [G] c [B] i v    */

